body {
    background: rgb(11, 120, 157);
    
    #outerbox {
        background: blue;
        width: 15cm;
        height: 15cm;
    }
    #innerbox {
        background: red;
        width: 5cm;
        height: 5cm;
        margin: 0 auto;
        padding: 1in;
        text-align: center;
}
h1 {
    font-size: 45px;
    margin: auto; 
}
#headshot img {
    width: 450px;
    height: 567px;
}